img {
  width: 150px;
  height: 150px;
  border-radius: 25px;
}
#image-upload-form{
  text-align: center;
  border:2px solid blue;
  border-radius: 25px;
  background-color: white;
  padding: 10px
}
.left-home{
  font-size: 30px;
}
